body {
	font-family: arial;
	display: grid;
	grid-template-columns: 100%;
	height: 100vh;
	margin: 0;
	grid-template-rows: 50px 75px 20px 1fr 65px;
	grid-template-areas:
		"nav"
		"header"
		"." /*tom rad*/
		"main"
		"footer";
	text-align: center;
}
body::-webkit-scrollbar { /* for Chrome, Safari, and Opera */
	width: 0px;
	height: 0px;
}

/*Titeln för varje sida*/
header h1 {
	font-size: 2em;
	text-align: left;
	margin-left: 60px;
	width: auto;
	color: rgb(56, 56, 56);
	text-decoration: underline;
}

/* ===== visa inte scrollbar för Chrome, Safari och Opera ===== */
body *::-webkit-scrollbar {
	display: none;
}

article {
	-ms-overflow-style: none; /* för Internet Explorer, Edge */
	scrollbar-width: none; /* för Firefox */
	overflow-y: scroll;
}

body::-webkit-scrollbar {
	/* for Chrome, Safari, and Opera */
	width: 0;
	height: 0;
}
/* ================================================================= */

header {
	grid-area: header;
}

nav {
	grid-area: nav;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "titel menu";
	width: 100%;
	border: 2px solid black;
}
nav > ul > li > a{
	text-decoration: none;
	color:black;
}
nav > h2 >a{
	text-decoration: none;
	color:black;
	border: 1px solid black;
	background: rgba(216, 239, 255, 0.1);
}
nav > h2 {
	grid-area: titel;
	font-size: 22px;
	text-align: left;
	margin: 10px;
	margin-left: 20px;
}
nav > ul {
	grid-area: menu;
	margin: 9px;
	text-align: right;
}
nav > ul > li {
	display: inline-block;
	padding: 10px 20px 10px 20px;
}
nav > ul > li:hover{
background-color: rgba(0,0,0,0.1);
border-radius: 10px;
}
footer {
	grid-area: footer;
	background-color: rgb(244, 244, 244);
}

a {
	text-decoration: none;
}

main {
	background: linear-gradient(rgb(255, 255, 255), rgb(228, 228, 228));
}

/* Index.html */
.index {
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.5fr 1fr 1fr;
	grid-template-areas:
		"intro intro"
		"nyheter nobel"
		"nyheter fysik";
}
.index h2 {
	font-size: 1.25em; /* 1 + 1/4 storlek på texten. */
}
.intro {
	grid-area: intro;
	border: 1px solid black;
	border-radius: 7px;
	margin: 45px auto 15px auto;
	width: 72.2%;
	overflow: scroll;
	padding: 10px;
	margin: 35px auto 15px auto;
	height: auto;
	max-height: 70%;
	background-color: rgb(206, 247, 255);
	overflow: scroll;
	
}
.intro * {
	margin: 10px;
}

.nyheter {
	grid-area: nyheter;
	border: 1px solid black;
	height: 650px;
	margin: 35px 35px auto auto;
	border-radius: 25px;
	background-color: rgb(144, 237, 255);
	margin-bottom: 20px;
}
.nyheter > article {
	border: 1px solid black;
	margin: 10px 20px 45px 20px;
	height: 40%;
	border-radius: 15px;
	overflow: hidden;
	background-color: rgb(206, 247, 255);
}
.nyheter > article > p,
.fysik p {
	margin: 24px;
}
.nyheter > article {
	overflow: scroll;
}
.nobel {
	grid-area: nobel;
	border: 1px solid black;
	height: 85%;
	margin: 35px auto auto 35px;
	border-radius: 25px;
	background-color: rgb(255, 214, 109);
}
.nobel > a {
	text-decoration: none;
	color: black;
	display: block;
	height: 100%;
}
.fysik > a {
	text-decoration: none;
	color: black;
	display: block;
	height: 100%;
}

.fysik {
	grid-area: fysik;
	border: 1px solid black;
	height: 85%;
	margin: auto;
	border-radius: 25px;
	margin: auto auto auto 35px;
	background-color: rgb(255, 214, 109);
}

.nyheter,
.fysik,
.nobel {
	/*För att få samma storlek på alla rutor*/
	width: 70%;
}

.nobel:hover, .fysik:hover{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nobel:active, .fysik:active{
	box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}
/* Index.html */



/*fysikaliska lagar*/

.container > section {
	background: rgb(255, 192, 74);
	border-radius: 15px;
	padding: 10px 15px 10px 15px;
}

div.container {
	grid-area: content;
}

.fysikaliskaFormler section h2 {
	grid-area: title;
}

.newtonsLagar,
.termofysik,
.krafter,
.rörelse {
	margin: auto;
	align-content: center;
	background: rgb(255, 222, 90);
	background: linear-gradient(rgb(255, 217, 114), rgb(255, 219, 151));
}

main.fysikaliskaFormler {
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto;
	grid-template-areas: "intro" "section1" "section2" "section3" "section4";
}
main.fysikaliskaFormler input {
	display: none;
}
main.fysikaliskaFormler > section:nth-of-type(n + 2) {
	margin: 10px auto 10px auto;
	padding: 20px 20px 20px 20px;
	border-radius: 25px;
	width: 75%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 20% auto auto;
	grid-template-areas: "title title" "content content" "expand expand";
}
main.fysikaliskaFormler > .intro {
	background: rgb(244, 251, 255);
	border: 2px dotted lightblue;
	border: 0;
	width: 65%;
	margin: auto;
	padding: 10px;
	border-radius: 15px;
}
label{
	cursor: pointer;
}

.rörelse {
	grid-area: section1;
}

.krafter {
	grid-area: section2;
}
.termofysik {
	grid-area: section3;
	
}

input:checked ~ .container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "a1 a2" "a3 a4";
	gap: 15%;
	padding: 10px 10px 10px 10px;
}
input:checked ~ .labelMindre{
	display: block;
	grid-area: expand;
}
input:checked ~ .labelMer{
	display:none;
}
.newtonsLagar {
	grid-area: section4;
}
section > .labelMer {
	
	padding: 25px 0 25px 0;
	width: 100%;
	height: 100%;
	grid-area: expand;
}
section .labelMindre{
	display:none;
}
section div.container{
	display:none;
}
.a1 {
	grid-area: a1;
}

.a2 {
	grid-area: a2;
}

.a3 {
	grid-area: a3;
}

.a4 {
	grid-area: a4;
}
a[target]{
	text-decoration: underline;
}

#formelsamlingPdf:link{
	color:blue;
}
#formelsamlingPdf:visited{
	color: forestgreen;
	
}

/*fysikaliska lagar*/

/*omOss*/
.omOss {
	grid-area: main;
	height: 0; /*Minsta möjliga höjd för att tvinga griddet att minimeras.*/
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "omOss" "kontakt";
}
.omOss p {
	padding: 16px;
}
.omOss > section {
	background: radial-gradient(rgb(255, 255, 255), rgb(244, 254, 255));
	width: 65%;
	margin: 10px auto 40px auto;
	line-break: auto;
	border-radius: 9px;
	border: 1px solid black;
	font-size: 15px;
	box-shadow: 2px 2px rgb(202, 202, 202);
}
.omOssSection {
	grid-area: omOss;
}
.kontakt {
	grid-area: kontakt;
}
/*omOss*/

/*nobelPristagare*/

.two_columns_nobel {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 500px 2fr 500px 1fr;
	grid-template-rows: 1fr 0.4fr 1fr 0.4fr 1fr 0.4fr 1fr;
	grid-template-areas: ". twa . twb ." ". . . . ." ". twc . twd ." ". . throughouthistory . ." ". twe . twf ." ". . . . ." ". twg lista twh .";
}

#nobel1 {
	grid-area: twa;
}
#nobel2 {
	grid-area: twb;
}
#nobel3 {
	grid-area: twc;
}
#nobel4 {
	grid-area: twd;
}
#nobel5 {
	grid-area: twe;
}
#nobel6 {
	grid-area: twf;
}
#nobel7 {
	grid-area: twg;
}
#nobel8 {
	grid-area: twh;
}
.nobelpristagare {
	grid-area: main;
}

.genom_historien {
	padding-top: 100px;
	grid-area: throughouthistory;
	color: black;
}

.nobel_spacer {
	height: 100px;
}

.nobel_box {
	display: grid;
	grid-template-rows: 1;
	grid-template-columns: 2fr 2fr 2fr;
	grid-template-areas: ". nobel_inner .";
}
.nobel_box_inner {
	width: 400px;
	height: 100%;
	grid-area: nobel_inner;
	border: 1px solid black;
	margin: 20px;
	padding: 10px;
	border-radius: 40px;
	background: rgb(241, 241, 241);
	background: linear-gradient(to left, rgba(255, 175, 175, 0.15), rgba(168, 235, 255, 0.15));
	display: grid;
	grid-template-rows: 0.5fr 2fr 0.1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "inner_a inner_b" "inner_c inner_d" "inner_e inner_f";
}

.nobel_box_inner img,
.nobel_box_inner {
	box-shadow: 3px 3px rgb(190, 190, 190);
}

.forskare {
	grid-area: inner_a;
	margin-left: 5px;
}

.forskare a {
	font-size: 20px;
	text-decoration: underline;
	color: black;
	border-radius: 20px;
}

.bakgrund {
	grid-area: inner_c;
	margin: 10px;
}
.text {
	grid-area: inner_f;
	border: 1px solid black;
	height: 38px;
	width: 100%;
	overflow: scroll;
	background: rgb(77, 75, 75);
	border-radius: 5px;
	font-weight: 600;
	color: white;
	text-shadow: #000 1px 0 10px;
	margin-left: -25px;
	margin-top: -55px;
	padding: 10px;
}
.nobel_img {
	height: 200px;
	grid-area: inner_d;
	object-fit: cover;
	border-radius: 12px;
	filter: grayscale(30%) brightness(110%);
	border: 1px solid whitesmoke;
}

.NobelPrisTagareExtra {
	margin-top: 100px;
	list-style: none;
	grid-area: lista;
	border: 1px solid black;
	padding: 20px;
	background: radial-gradient(rgb(236, 238, 255), rgb(255, 255, 255));
}

.nobelpristagare h2 {
	color: rgb(20, 20, 20);
	text-shadow: #000 1px 00;
	margin: 10px;
	display: block;
	font-size: 30px;
}

.Fysiker img {
	margin-top: 70px;
	width: 40vh;
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgb(122, 122, 122);
}

.Fysiker p {
	font-size: 3ex;
	width: 60vw;
	margin-left: 20vw;
}
/*nobelPristagare*/
