body {
	font-family: arial;
	display: grid;
	grid-template-columns: 100%;
	height: 100vh;
	margin: 0;
	grid-template-rows: 50px 75px 20px 1fr 45px;
	grid-template-areas:
		"nav"
		"header"
		"."
		"main"
		"footer";
	text-align: center;
}


/* hide scrollbar but allow scrolling */
article {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

body *::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

header {
	grid-area: header;
}
header > h1 {
	margin: 35px 0px 35px 0px;
}
a {
	text-decoration: none;
	color: black;
}
nav {
	grid-area: nav;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "titel menu";
	width: 100%;
	border: 1px solid black;
}
nav > h2 {
	grid-area: titel;
	font-size: 22px;
	text-align: left;
	margin: 10px;
}
nav > ul {
	grid-area: menu;
	margin: 9px;
	text-align: right;
}
nav > ul > li {
	display: inline-block;
	padding: 10px 20px 10px 20px;
}

/* Index.html */
.index {
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.5fr 1fr 1fr;
	grid-template-areas:
		"intro intro"
		"nyheter nobel"
		"nyheter fysik";
}
.intro {
	grid-area: intro;
	border: 1px solid black;
	border-radius: 25px;
	margin: 45px auto 15px auto;
	width: 60%;
	overflow: hidden;
	padding: 10px;
	height: auto;
	max-height: 70%;
}
.nyheter {
	grid-area: nyheter;
	border: 1px solid black;
	width: 80%;
	height: 92%;
	margin: 35px 35px auto auto;
	border-radius: 25px;
}
.nyheter > article {
	border: 1px solid black;
	margin: 10px 20px 45px 20px;
	height: 40%;
	border-radius: 15px;
	overflow: hidden;
}
.nyheter > article{
	overflow: scroll;
}
.nobel {
	grid-area: nobel;
	border: 1px solid black;
	width: 65%;
	height: 85%;
	margin: 35px auto auto 35px;
	border-radius: 25px;
}
.nobel > a {
	text-decoration: none;
	color: black;
	display: block;
	height: 100%;
}
.fysik > a {
	text-decoration: none;
	color: black;
	display: block;
	height: 100%;
}

.fysik {
	grid-area: fysik;
	border: 1px solid black;
	width: 65%;
	height: 85%;
	margin: auto;
	border-radius: 25px;
	margin: auto auto auto 35px;
}
/* Index.html */

/*fysikaliska lagar*/
main.fysikaliskaFormler {
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto;
	grid-template-areas: "intro" "section1" "section2" "section3";
}
main.fysikaliskaFormler input {
	display: none;
}
main.fysikaliskaFormler > section:nth-of-type(n + 2) {
	margin: 10px auto 10px auto;
	padding: 20px 20px 20px 20px;
	border-radius: 25px;
	width: 75%;
}
main.fysikaliskaFormler > .intro{
	background:darkgrey;
	width:65%;
	margin:auto;
	padding:10px;
	border-radius:15px;
}

.rörelse {
	grid-area: section1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 20% auto auto;
	grid-template-areas: "title title" "content content" "expandRörelse expandRörelse";
	margin: auto;
	align-content: center;
	background: grey;
}
.rörelse h2 {
	grid-area: title;
	height: 25%;
	margin: 0;
	padding:0 0 25px 0;
}

div.container {
	grid-area: content;
}
.container > section{
	background:darkgrey;
	border-radius:15px;
	padding:10px 15px 10px 15px;
}

.rörelse .a1 {
	grid-area: a1;
	margin: auto;
}

.rörelse .a2 {
	grid-area: a2;
	margin: auto;
}

.rörelse .a3 {
	grid-area: a3;
	margin: auto;
}

.rörelse .a4 {
	grid-area: a4;
	margin: auto;
}

.rörelse > label {
	grid-area: expandRörelse;
	padding: 25px 0 25px 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.rörelse .labelMindre {
	display: none;
}

.rörelse > div.container {
	display: none;
}
#expandRörelse:checked ~ .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "a1 a2" "a3 a4";
	gap: 15%;
}

#expandRörelse:checked ~ .container {
	padding: 10px 10px 10px 10px;
}

#expandRörelse:checked ~ .labelMindre {
	display: block;
	grid-area: expandRörelse;
}
#expandRörelse:checked ~ .labelMer {
	display: none;
}

.krafter {
	grid-area: section2;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 20% auto auto;
	grid-template-areas: "title title" "content content" "expandKrafter expandKrafter";
	margin: auto;
	align-content: center;
	background: grey;
}
.krafter h2 {
	grid-area: title;
	height: 25%;
	margin: 0;
	padding:0 0 25px 0;
}

div.container {
	grid-area: content;
}

.krafter .a1 {
	grid-area: a1;
	margin: auto;
}

.krafter .a2 {
	grid-area: a2;
	margin: auto;
}

.krafter .a3 {
	grid-area: a3;
	margin: auto;
}

.krafter .a4 {
	grid-area: a4;
	margin: auto;
}

.krafter > .labelMer {
	grid-area: expandKrafter;
	padding: 25px 0 25px 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.krafter .labelMindre {
	display: none;
	
}
.krafter > div.container {
	display: none;
}
#expandKrafter:checked ~ .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "a1 a2" "a3 a4";
	gap: 15%;
	padding: 10px 10px 10px 10px;
}

#expandKrafter:checked ~ .labelMindre {
	display: block;
	grid-area: expandKrafter;
	cursor: pointer;
}
#expandKrafter:checked ~ .labelMer {
	display: none;
}

.termofysik {
	grid-area: section3;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 20% auto auto;
	grid-template-areas: "title title" "content content" "expandTermofysik expandTermofysik";
	margin: auto;
	align-content: center;
	background: grey;
}
.termofysik h2 {
	grid-area: title;
	height: 25%;
	margin: 0;
	padding:0 0 25px 0;
}

div.container {
	grid-area: content;
}

.termofysik .a1 {
	grid-area: a1;
	margin: auto;
}

.termofysik .a2 {
	grid-area: a2;
	margin: auto;
}

.termofysik .a3 {
	grid-area: a3;
	margin: auto;
}

.termofysik .a4 {
	grid-area: a4;
	margin: auto;
}

.termofysik > .labelMer {
	grid-area: expandTermofysik;
	padding: 25px 0 25px 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.termofysik .labelMindre {
	display: none;
}
.termofysik > div.container {
	display: none;
}
#expandTermofysik:checked ~ .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "a1 a2" "a3 a4";
	gap: 15%;
}

#expandTermofysik:checked ~ .container {
	padding: 10px 10px 10px 10px;
}
#expandTermofysik:checked ~ .labelMindre {
	display: block;
	grid-area: expandTermofysik;
	cursor: pointer;
}
#expandTermofysik:checked ~ .labelMer {
	display: none;
}


/*fysikaliska lagar*/

/*omOss*/
.omOss {
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "kontakt" "omOss";
}
.omOss > section {
	width: 65%;
	margin: 10px auto 40px auto;
	line-break: auto;
	border-radius: 15px;
	border: 1px solid black;
}
.omOssSection {
	grid-area: omOss;
}
.kontakt {
	grid-area: kontakt;
}
/*omOss*/
/*nobelPristagare*/
/*nobelPristagare*/
/*fysikerDetaljTemplate*/

.fysikerDetaljTemplate {
	grid-area: main;
}
.fysikerDetaljTemplate > section {
	width: 65%;
	margin: 10px auto 40px auto;
	line-break: auto;
	border-radius: 15px;
	border: 1px solid black;

	height: 100%;
}
.fysiker {
	grid-area: omOss;
}
/*fysikerDetaljTemplate*/

footer {
	grid-area: footer;
}


.two_columns_nobel {
	display: grid;
	grid-template-columns: 1fr 5fr 0fr 5fr 1fr;
	grid-template-rows: 1fr 0.4fr 1fr 0.4fr 1fr 0.4fr 1fr;
	grid-template-areas: ". twa . twb ." ". . . . ." ". twc . twd ." ". . . . ." ". twe . twf ." ". . . . ." ". twg . twh .";
}

#nobel1 {
	grid-area: twa;
}
#nobel2 {
	grid-area: twb;
}
#nobel3 {
	grid-area: twc;
}
#nobel4 {
	grid-area: twd;
}
#nobel5 {
	grid-area: twe;
}
#nobel6 {
	grid-area: twf;
}
#nobel7 {
	grid-area: twg;
}
#nobel8 {
	grid-area: twh;
}

.nobel_spacer {
	height: 100px;
}


.nobel_box {
	display: grid;
	grid-template-rows: 1;
	grid-template-columns: 2fr 2fr 2fr;
	grid-template-areas: ". nobel_inner .";
}
.nobel_box_inner {
	width: 100%;
	height: 100%;
object-fit: cover;
	grid-area: nobel_inner;
	border: 1px solid black;
	margin: 20px;
	padding: 10px;
	border-radius: 40px;
	background: rgb(241, 241, 241);
	display: grid;
	grid-template-rows: 0.5fr 2fr 0.1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "inner_a inner_b" "inner_c inner_d" "inner_e inner_f";
}
.forskare {
	grid-area: inner_a;
	margin-left: 5px;
}
.bakgrund {
	grid-area: inner_c;
	margin: 10px;
}
.text {
	grid-area: inner_f;
	border: 1px solid black;
	height: 38px;
	width: 100%;
	overflow:scroll;
	background: rgb(77, 75, 75);
	border-radius: 5px;
	font-weight: 600;
	color: white;
	text-shadow: #000 1px 0 10px;
	margin-left: -25px;
	margin-top: -55px;
	padding: 10px;
	

}
.nobel_img {
	height: 200px;
	grid-area: inner_d;
	object-fit: cover;
	border-radius: 12px;
}

header h1 {
	font-size: 58px;
	text-align: left;
	margin-left: 60px;
	width: auto;
	max-width: 280px;
	text-decoration: solid underline black 1px;
}