body{
    font-family: arial;
    display:grid;
    grid-template-columns:100%;
    height:100vh;
    grid-template-rows: 50px 75px 1fr 45px;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "footer";
    text-align:center;
}

header{
    grid-area:header;
}
header>h1{
    margin:35px 0px 35px 0px;
}
nav{
    grid-area:nav;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "titel menu";
    width: 100%;
    border: 1px solid black;
}
nav>h2{
    grid-area:titel;
    text-align:left;
    margin:16px;
}
nav>ul{
    
    grid-area: menu;
    text-align: right;
}
nav>ul>li{
    display:inline-block;
    padding:10px 20px 10px 20px;
    
}
nav>ul>li>a{
    text-decoration:none;
    color:black;
}

main{
    grid-area:main;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr fr;
    grid-template-areas: 
    "nyheter nobel"
    "nyheter fysik";
    
}
.nyheter{
    grid-area:nyheter;
    border:1px solid black;
    width:95%;
    height: 92%;
    margin: auto;
    border-radius: 4%;
}
.nyheter>article{
    border:1px solid black;
    margin:10px 20px 45px 20px;
    /*padding:0px 0px 40% 0px;*/
    height:40%;
    border-radius: 4%;
    overflow:hidden;
}
.nobel{
    grid-area:nobel;   
    border:1px solid black;
    width:85%;
    height: 85%;
    margin: auto;
    border-radius: 4%;

    
}
.nobel>a{
    text-decoration:none;
    color:black;
    display:block;
    height:100%;
}
.fysik>a{
    text-decoration:none;
    color:black;
    display:block;
    height:100%;
}

.fysik{
    grid-area:fysik;
    border:1px solid black;
    width:85%;
    height: 85%;
    margin: auto;
    border-radius: 4%;
}
    
footer{
grid-area:footer;
}