body {
	font-family: arial;
	display: grid;
	grid-template-columns: 100%;
	height: 100vh;
	grid-template-rows: 50px 75px 1fr 45px;
	grid-template-areas:
		"nav"
		"header"
		"main"
		"footer";
	text-align: center;
}

header {
	grid-area: header;
}
header > h1 {
	margin: 35px 0px 35px 0px;
}
a {
	text-decoration: none;
	color: black;
}
nav {
	grid-area: nav;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "titel menu";
	width: 100%;
	border: 1px solid black;
}
nav > h2 {
	grid-area: titel;
	text-align: left;
	margin: 16px;
	
}
nav > ul {
	grid-area: menu;
	text-align: right;
}
nav > ul > li {
	display: inline-block;
	padding: 10px 20px 10px 20px;
}

main.fysikaliskaFormler {
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto;
	grid-template-areas: "intro" "h1" "h2" "h3";
}
main.fysikaliskaFormler input {
	display: none;
}
main.fysikaliskaFormler > section:nth-of-type(n + 2) {
	margin: 10px auto 10px auto;
	padding: 20px 20px 20px 20px;
	border-radius: 25px;
	width: 75%;
}
main.fysikaliskaFormler > .intro{
	background:darkgrey;
	width:65%;
	margin:auto;
	padding:10px;
	border-radius:15px;
}

.rörelse {
	grid-area: h1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 20% auto auto;
	grid-template-areas: "title title" "content content" "expandRörelse expandRörelse";
	margin: auto;
	align-content: center;
	background: grey;
}
.rörelse h2 {
	grid-area: title;
	height: 25%;
	margin: 0;
	padding:0 0 25px 0;
}

div.container {
	grid-area: content;
}
.container > section{
	background:darkblue;
	border-radius:15px;
	padding:10px 15px 10px 15px;
}

.rörelse .a1 {
	grid-area: a1;
	margin: auto;
}

.rörelse .a2 {
	grid-area: a2;
	margin: auto;
}

.rörelse .a3 {
	grid-area: a3;
	margin: auto;
}

.rörelse .a4 {
	grid-area: a4;
	margin: auto;
}

.rörelse > label {
	grid-area: expandRörelse;
	padding: 25px 0 25px 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.rörelse .labelMindre {
	display: none;
}

.rörelse > div.container {
	display: none;
}
#expandRörelse:checked ~ .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "a1 a2" "a3 a4";
	gap: 15%;
}

#expandRörelse:checked ~ .container {
	padding: 10px 10px 10px 10px;
}

#expandRörelse:checked ~ .labelMindre {
	display: block;
	grid-area: expandRörelse;
}
#expandRörelse:checked ~ .labelMer {
	display: none;
}

.krafter {
	grid-area: h2;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 20% auto auto;
	grid-template-areas: "title title" "content content" "expandKrafter expandKrafter";
	margin: auto;
	align-content: center;
	background: grey;
}
.krafter h2 {
	grid-area: title;
	height: 25%;
	margin: 0;
	padding:0 0 25px 0;
}

div.container {
	grid-area: content;
}

.krafter .a1 {
	grid-area: a1;
	margin: auto;
}

.krafter .a2 {
	grid-area: a2;
	margin: auto;
}

.krafter .a3 {
	grid-area: a3;
	margin: auto;
}

.krafter .a4 {
	grid-area: a4;
	margin: auto;
}

.krafter > .labelMer {
	grid-area: expandKrafter;
	padding: 25px 0 25px 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.krafter .labelMindre {
	display: none;
	
}
.krafter > div.container {
	display: none;
}
#expandKrafter:checked ~ .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "a1 a2" "a3 a4";
	gap: 15%;
	padding: 10px 10px 10px 10px;
}

#expandKrafter:checked ~ .labelMindre {
	display: block;
	grid-area: expandKrafter;
	cursor: pointer;
}
#expandKrafter:checked ~ .labelMer {
	display: none;
}

.termofysik {
	grid-area: h3;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 20% auto auto;
	grid-template-areas: "title title" "content content" "expandTermofysik expandTermofysik";
	margin: auto;
	align-content: center;
	background: grey;
}
.termofysik h2 {
	grid-area: title;
	height: 25%;
	margin: 0;
	padding:0 0 25px 0;
}

div.container {
	grid-area: content;
}

.termofysik .a1 {
	grid-area: a1;
	margin: auto;
}

.termofysik .a2 {
	grid-area: a2;
	margin: auto;
}

.termofysik .a3 {
	grid-area: a3;
	margin: auto;
}

.termofysik .a4 {
	grid-area: a4;
	margin: auto;
}

.termofysik > .labelMer {
	grid-area: expandTermofysik;
	padding: 25px 0 25px 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.termofysik .labelMindre {
	display: none;
}
.termofysik > div.container {
	display: none;
}
#expandTermofysik:checked ~ .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "a1 a2" "a3 a4";
	gap: 15%;
}

#expandTermofysik:checked ~ .container {
	padding: 10px 10px 10px 10px;
}
#expandTermofysik:checked ~ .labelMindre {
	display: block;
	grid-area: expandTermofysik;
	cursor: pointer;
}
#expandTermofysik:checked ~ .labelMer {
	display: none;
}

footer {
	grid-area: footer;
}
